package ping

import (
	"net/http"

	"github.com/gin-gonic/gin"
	"github.com/nomoyu/go-gin-framework/nomoyu"
)

func Routes() nomoyu.RouteGroup {
	return nomoyu.NewGroup("/").
		GET("/ping", func(c *gin.Context) { c.String(http.StatusOK, "pong") })
}
